@{
    ViewData["Title"] = "Podcast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Podcast Directory</h1>
<div class="row">
    <div class="col-md-4">
        <a href="https://www.outsideonline.com/podcast/?__hstc=225619333.79654b6bc0a5f82e5fe5a3bcfd42495b.1634049874021.1634049874021.1634049874021.1&amp;__hssc=225619333.2.1634231593017&amp;__hsfp=3448220427&amp;_ga=2.116875651.488670241.1634231597-1575864662.1634049880" target="_blank" data-outbound-instanced="true"> 
            <img style="width:100%; height:fit-content" src="https://www.velonews.com/wp-content/uploads/2021/09/outside-podcast.webp?width=730" data-lazy-load="" data-src="https://www.velonews.com/wp-content/uploads/2021/09/outside-podcast.webp?width=730" alt="The Outside Podcast" data-loaded="true"> <br />
                <p>Outside </p>
        </a>
    </div>

    <div class="col-md-4">
        <a href="https://www.backpacker.com/survival/out-alive-podcast/?__hstc=225619333.79654b6bc0a5f82e5fe5a3bcfd42495b.1634049874021.1634049874021.1634049874021.1&amp;__hssc=225619333.23.1634231593017&amp;__hsfp=3448220427" target="_blank" data-outbound-instanced="true">
            <img style="width:100%; height:fit-content" src="https://www.velonews.com/wp-content/uploads/2021/10/backpacker_2021_outalive_podcastlogo_square_final.jpg?width=730" data-lazy-load="" data-src="https://www.velonews.com/wp-content/uploads/2021/10/backpacker_2021_outalive_podcastlogo_square_final.jpg?width=730" alt="Out Alive Podcast" data-loaded="true"><br />
                <p>Backpacker</p>
        </a>
    </div>

     <div class="col-md-4">
        <a href="https://www.gaiagps.com/outandback/?__hstc=225619333.79654b6bc0a5f82e5fe5a3bcfd42495b.1634049874021.1634049874021.1634049874021.1&amp;__hssc=225619333.23226.1634231593017&amp;__hsfp=3448220427" target="_blank" data-outbound-instanced="true">
            <img style="width:100%; height:fit-content" src="https://www.velonews.com/wp-content/uploads/2021/09/gaia-out-and-back-scaled.jpeg?width=730" data-lazy-load="" data-src="https://www.velonews.com/wp-content/uploads/2021/09/gaia-out-and-back-scaled.jpeg?width=730" alt="Out and Back" data-loaded="true">    <br />
                <p>Gaia GPS </p>
        </a>
    </div>

     <div class="col-md-4">
        <a href="https://alpinegeek.com/" target="_blank" data-outbound-instanced="true">
            <img style="width:100%; height:fit-content" src="https://alpinegeek.com/wp-content/uploads/2020/07/Alpine-Geek-Logo-Transparent-2.png" data-lazy-load=""alt="Alpine Geek" data-loaded="true">
                <p>Alpine Geek</p>
        </a>
    </div>


</div>
