@model Planner.ViewModels.HikerViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="HikerEditTemplate.cshtml" />

<div>
    <a asp-action="Index">Back to List</a>
</div>

